/* #logo {
	vertical-align:middle;
} */
.navbar-brand span {
	font-size:2rem;
	line-height:1.2;
	font-weight: 200;
	display:inline-block;
	vertical-align:middle;
	padding:0 15px 0 15px;
}
.navbar-nav .nav-item a {
	padding-left: 2em;
	padding-right: 2em;
} 

.dropdown-nav {
	list-style: none;
	text-align: center;
	background: rgba(199, 96, 147, 0.25);
	padding-inline-start: 0px; 
}

.dropdown-nav li {
	border: 1px solid white;
}

.dropdown-nav li a:hover {
	background: rgba(248, 112, 180, 0.25);
}

.dropdown-nav a {
	color: black;
	cursor: pointer;
}